h1,
h2 {
  color: #231d3c;
  font-family: "Nunito", sans-serif;
  align-items: center;
}
h3 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}
h4 {
  color: #00204a;
  font-family: "Nunito", sans-serif;
  font-size: 44px;
  font-weight: 140;
  text-align: center;
}
button {
  size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #00204a;
  font-size: 18px;
  font-weight: 70;
  list-style: none;
}
footer {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

.weather-app {
  border: 1px solid #9cd3d3;
  box-shadow: 0 20px 40px #ffca2c;
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 600px;
  background: white;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-left: 5px;
  height: 64px;
  width: 64px;
  align-content: right;
}

.temperature {
  color: #00204a;
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
  text-align: right;
}

.units {
  position: relative;
  top: -34px;
  font-weight: 500;
}

.search-form {
  margin-bottom: 0px;
}

.icon {
  margin: 15px;
}

.logo {
  size: small;
  margin: 15px;
}

.netlify-link {
  color: #9cd3d3;
}

.git-link {
  color: #9cd3d3;
}
